.message{
    display: flex; 
    align-items: center;
    padding: 20px;
}

.message > img{
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
}

.message--timestamp{
    color: gray;
    font-weight: 300;
    font-size: 13px;
}

.message--info{
    padding-left: 10px;
}